<select [(ngModel)]="selectedFrom">
    <option *ngFor="let currency of currencies" value="{{currency.id}}">{{currency.name}}</option>
</select>
<select [(ngModel)]="selectedTo">
    <option *ngFor="let currency of currencies" value="{{currency.id}}">{{currency.name}}</option>
</select>

<input [(ngModel)]="amount" />
<button (click)="getConversion()">Go convert!</button>
<div>
    <p>RESULT: {{resultAmount}}</p>
</div>

<button (click)="getPrevOpeartions()">Prev</button>
<button (click)="getNextOpeartions()">Next</button>
<hr />
<ul>
    <li *ngFor="let op of operations">
        <p>{{op.pair.fromCurrency.name}} ===> {{op.pair.toCurrency.name}}</p>
        <p>{{op.fromAmount}} ===> {{op.toAmount}}</p>
        <p>{{op.date}}</p>
    </li>
</ul>